<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Column heading</th>
        <th scope="col">Column heading</th>
        <th scope="col">Column heading</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-info" *ngFor="let item of items">
        <th scope="row">Info</th>
        <td>Column content</td>
        <td>Column content</td>
        <td class="btn-group d-none d-sm-block" role="group">
          <button type="button" class="btn btn-outline-success m-1" (click)="goToEdit(item)">Edit</button>
          <button type="button" class="btn btn-outline-info m-1" (click)="goToSee(item)">See</button>
          <button type="button" class="btn btn-outline-danger m-1" (click)="goToDelete(item)">Delete</button>
        </td>
      </tr>
      
    </tbody>
  </table>
  
</div>