<div class="container col-md-9 mt-2">
    <div class="row aling-item-center justify-content-center">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Usuario</label>
              <input type="text" class="form-control" id="exampleInputUsuario" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="d-grid gap-2 col-7 mx-auto">
                <button type="submit" class="btn btn-success">Ingresar</button>
            </div>
            <div class="d-grid gap-2 col-7 mx-auto mt-2">
                <button type="button" class="btn btn-primary">Registro</button>
            </div>
        </form>
    </div>
</div>